@import '../colours/palette';

.heading-confirmation {
  background-color: $green;
  color: $white;
  padding: .6em;
  text-align: center;
  margin-top: 0;

  .reference-text {
    color: $white;
    margin-top: 1em;
    display: block;
    font-weight: 100;
  }

  .reference-number {
    font-weight: 800;
    font-size: 1em;
    margin-top: 0;
  }
}