@import '../conditionals';

@media print {
  .print-hidden, .header-wrapper, .service-info, .report-error {
    display: none !important;
  }
  .content__body {
    width: 100%;
  }
  .heading-xlarge {
    font-size: 27px;
  }
  .heading-large {
    font-size: 24px;
  }
  .heading-medium {
    font-size: 19px;
  }
  ul li, p, .govuk-warning-text {
    font-size: 16px;
  }
}